/* Animations */

/* Text Animation on HERO */

@import url('https://fonts.googleapis.com/css?family=Raleway:100');

body {
  /* background: #AB3B56 url(http://c.up-00.com/2018/09/153815028471111.png) no-repeat center center fixed;  */
  /* -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: 'Raleway', sans-serif; */
}

.hp-hero-h1-block{
  display: flex;
  flex-direction: column;
  height: 440px;
  /* border: 2px solid #fff; */
}
.hp-hero-subtitle{
  font-size: 70px;
}

.hp-hero-subtitle-block{
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  height: 400px;
  /* border: 2px solid #fff; */
}
.container {
  width: 100%;
  position: relative;
  overflow: hidden;
  /* border: 2px solid #fff; */
}
a {
  text-decoration: none;
}
h1.main, p.demos {
  -webkit-animation-delay: 18s;
  -moz-animation-delay: 18s;
  -ms-animation-delay: 18s;
  animation-delay: 18s;
}
.sp-container {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  z-index: 2;
  /* border: 2px solid #fff; */
}
.sp-content {
  position: absolute;
  width: 100%;
  left: 0px;
  top: 0px;
  z-index: 1000;
  /* border: 2px solid #fff; */
}
.sp-container .hp-hero-subtitle {
  /* position: absolute; */
  top: 50%;
  line-height: 150px;
  margin-top: -50px;
  width: 100%;
  height: 25%;
  text-align: center;
  color: transparent;
  -webkit-animation: blurFadeInOut 3s ease-in backwards;
  -moz-animation: blurFadeInOut 3s ease-in backwards;
  -ms-animation: blurFadeInOut 3s ease-in backwards;
  animation: blurFadeInOut 3s ease-in backwards;
  /* border: 2px solid #fff; */
}
.sp-container .hp-hero-subtitle.frame-1 {
  margin-left: 3%;
  margin-top: 5%;
  text-align: left;
  width: 60%;
  -webkit-animation-delay: 0s;
  -moz-animation-delay: 0s;
  -ms-animation-delay: 0s;
  animation-delay: 0s;
  /* border: 2px solid #fff; */
}
.sp-container .hp-hero-subtitle.frame-2 {
  margin-left: 3%;
  text-align: left;
  width: 60%;
  -webkit-animation-delay: 3s;
  -moz-animation-delay: 3s;
  -ms-animation-delay: 3s;
  animation-delay: 3s;
  /* border: 2px solid #fff; */
}
.sp-container .hp-hero-subtitle.frame-3 {
  margin-left: 3%;
  text-align: left;
  width: 60%;
  -webkit-animation-delay: 6s;
  -moz-animation-delay: 6s;
  -ms-animation-delay: 6s;
  animation-delay: 6s;
  /* border: 2px solid #fff; */
}
/* .sp-container .hp-hero-subtitle.frame-4 {
  font-size: 200px;
  -webkit-animation-delay: 9s;
  -moz-animation-delay: 9s;
  -ms-animation-delay: 9s;
  animation-delay: 9s;
  border: 2px solid #fff;
} */
.sp-container h2.frame-5 {
  display: flex;
  justify-content: right;
  margin-right: 3%;
  width: 50%;
  font-size: 70px;
  -webkit-animation: none;
  -moz-animation: none;
  -ms-animation: none;
  animation: none;
  color: transparent;
  text-shadow: 0px 0px 1px #fff;
  /* border: 2px solid #fff; */
}
.sp-container h2.frame-5 span {
  -webkit-animation: blurFadeIn 3s ease-in 12s backwards;
  -moz-animation: blurFadeIn 1s ease-in 12s backwards;
  -ms-animation: blurFadeIn 3s ease-in 12s backwards;
  animation: blurFadeIn 3s ease-in 12s backwards;
  color: transparent;
  text-shadow: 0px 0px 1px #fff;
  /* border: 2px solid #fff; */
}
.sp-container h2.frame-5 span:nth-child(2) {
  -webkit-animation-delay: 13s;
  -moz-animation-delay: 13s;
  -ms-animation-delay: 13s;
  animation-delay: 13s;
  /* border: 2px solid #fff; */
}
.sp-container h2.frame-5 span:nth-child(3) {
  -webkit-animation-delay: 14s;
  -moz-animation-delay: 14s;
  -ms-animation-delay: 14s;
  animation-delay: 14s;
  /* border: 2px solid #fff; */
}
.sp-globe {
  /* position: absolute; */
  width: 282px;
  height: 273px;
  left: 50%;
  top: 50%;
  margin: -137px 0 0 -141px;
  background: transparent url(http://web-sonick.zz.mu/images/sl/globe.png) no-repeat top left;
  -webkit-animation: fadeInBack 3.6s linear 14s backwards;
  -moz-animation: fadeInBack 3.6s linear 14s backwards;
  -ms-animation: fadeInBack 3.6s linear 14s backwards;
  animation: fadeInBack 3.6s linear 14s backwards;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
  filter: alpha(opacity=30);
  opacity: 0.3;
  -webkit-transform: scale(5);
  -moz-transform: scale(5);
  -o-transform: scale(5);
  -ms-transform: scale(5);
  transform: scale(5);
  /* border: 2px solid #fff; */
}
.sp-circle-link {
  /* position: absolute; */
  left: 50%;
  bottom: 100px;
  margin-left: -50px;
  text-align: center;
  line-height: 100px;
  width: 100px;
  height: 100px;
  background: #fff;
  color: #3f1616;
  font-size: 25px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -webkit-animation: fadeInRotate 1s linear 16s backwards;
  -moz-animation: fadeInRotate 1s linear 16s backwards;
  -ms-animation: fadeInRotate 1s linear 16s backwards;
  animation: fadeInRotate 1s linear 16s backwards;
  -webkit-transform: scale(1) rotate(0deg);
  -moz-transform: scale(1) rotate(0deg);
  -o-transform: scale(1) rotate(0deg);
  -ms-transform: scale(1) rotate(0deg);
  transform: scale(1) rotate(0deg);
  border: 2px solid #fff;
}
.sp-circle-link:hover {
  background: #85373b;
  color: #fff;
  /* border: 2px solid #fff; */
}
/**/

@-webkit-keyframes blurFadeInOut {
  0% {
    opacity: 0;
    text-shadow: 0px 0px 40px #fff;
    -webkit-transform: scale(1.3);
  }
  20%, 75% {
    opacity: 1;
    text-shadow: 0px 0px 1px #fff;
    -webkit-transform: scale(1);
  }
  100% {
    opacity: 0;
    text-shadow: 0px 0px 50px #fff;
    -webkit-transform: scale(0);
  }
}
@-webkit-keyframes blurFadeIn {
  0% {
    opacity: 0;
    text-shadow: 0px 0px 40px #fff;
    -webkit-transform: scale(1.3);
  }
  50% {
    opacity: 0.5;
    text-shadow: 0px 0px 10px #fff;
    -webkit-transform: scale(1.1);
  }
  100% {
    opacity: 1;
    text-shadow: 0px 0px 1px #fff;
    -webkit-transform: scale(1);
  }
}
@-webkit-keyframes fadeInBack {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
  }
  50% {
    opacity: 0.4;
    -webkit-transform: scale(2);
  }
  100% {
    opacity: 0.2;
    -webkit-transform: scale(5);
  }
}
@-webkit-keyframes fadeInRotate {
  0% {
    opacity: 0;
    -webkit-transform: scale(0) rotate(360deg);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1) rotate(0deg);
  }
}
/**/

@-moz-keyframes blurFadeInOut {
  0% {
    opacity: 0;
    text-shadow: 0px 0px 40px #fff;
    -moz-transform: scale(1.3);
  }
  20%, 75% {
    opacity: 1;
    text-shadow: 0px 0px 1px #fff;
    -moz-transform: scale(1);
  }
  100% {
    opacity: 0;
    text-shadow: 0px 0px 50px #fff;
    -moz-transform: scale(0);
  }
}
@-moz-keyframes blurFadeIn {
  0% {
    opacity: 0;
    text-shadow: 0px 0px 40px #fff;
    -moz-transform: scale(1.3);
  }
  100% {
    opacity: 1;
    text-shadow: 0px 0px 1px #fff;
    -moz-transform: scale(1);
  }
}
@-moz-keyframes fadeInBack {
  0% {
    opacity: 0;
    -moz-transform: scale(0);
  }
  50% {
    opacity: 0.4;
    -moz-transform: scale(2);
  }
  100% {
    opacity: 0.2;
    -moz-transform: scale(5);
  }
}
@-moz-keyframes fadeInRotate {
  0% {
    opacity: 0;
    -moz-transform: scale(0) rotate(360deg);
  }
  100% {
    opacity: 1;
    -moz-transform: scale(1) rotate(0deg);
  }
}
/**/

@keyframes blurFadeInOut {
  0% {
    opacity: 0;
    text-shadow: 0px 0px 40px #fff;
    transform: scale(1.3);
  }
  20%, 75% {
    opacity: 1;
    text-shadow: 0px 0px 1px #fff;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    text-shadow: 0px 0px 50px #fff;
    transform: scale(0);
  }
}
@keyframes blurFadeIn {
  0% {
    opacity: 0;
    text-shadow: 0px 0px 40px #fff;
    transform: scale(1.3);
  }
  50% {
    opacity: 0.5;
    text-shadow: 0px 0px 10px #fff;
    transform: scale(1.1);
  }
  100% {
    opacity: 1;
    text-shadow: 0px 0px 1px #fff;
    transform: scale(1);
  }
}
@keyframes fadeInBack {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  50% {
    opacity: 0.4;
    transform: scale(2);
  }
  100% {
    opacity: 0.2;
    transform: scale(5);
  }
}
@keyframes fadeInRotate {
  0% {
    opacity: 0;
    transform: scale(0) rotate(360deg);
  }
  100% {
    opacity: 1;
    transform: scale(1) rotate(0deg);
  }
}

Animation on Hero title

  h1 {
    color: #fff;
    font-size: 3rem;
    font-weight: 100;
    line-height: 1.5;
    text-transform: uppercase;
    white-space: nowrap;
    overflow: hidden;
    position: relative;
    width: 550px;
  }
  
  h1 span {
    font-size: 40px;
    margin-left: 40px;
  }
  
  .message {
    background-color: green;
    color: #fff;
    display: block;
    font-weight: 900;
    overflow: hidden;
    position: absolute;
    padding-left: 0.5rem;
    top: 0.2rem;
    left: 270px;
    animation: openclose 5s ease-in-out infinite;
  }
  
  .word1, .word2, .word3 {
    font-family: tahoma;
  }
  
  @keyframes openclose {
    0% {
      top: 0.2rem;
      width: 0;
    }
    5% {
      width: 0;
    }
    15% {
      width: 230px;
    }
    30% {
      top: 0.2rem;
      width: 230px;
    }
    33% {
      top: 0.2rem;
      width: 0;
    }
    35% {
      top: 0.2rem;
      width: 0;
    }
    38% {
      top: -4.5rem;
      
    }
    48% {
      top: -4.5rem;
      width: 190px;
    }
    62% {
      top: -4.5rem;
      width: 190px;
    }
    66% {
      top: -4.5rem;
      width: 0;
      text-indent: 0;
    }
    71% {
      top: -9rem;
      width: 0;
      text-indent: 5px;
    }
    86% {
      top: -9rem;
      width: 285px;
    }
    95% {
      top: -9rem;
      width: 285px;
    }
    98% {
      top: -9rem;
      width: 0;
      text-indent: 5px;
    }
    100% {
      top: 0;
      width: 0;
      text-indent: 0;
    }
  }

/* Animation Crochet  */
.content {
position: absolute;
top: 100px;
left: 200px;
width: 250px;
transform: translate(-50%, -50%);
font-size: 35px;
line-height: 40px;
font-family: 'Lato', sans-serif;
color: #ecf0f1;
height: 160px;
overflow:hidden;
}

.visible {
font-weight:600;
overflow:hidden;
height:40px;
padding:0 40px;

&:before {
    content:'[';
    left: 0;
    line-height:40px;
}
&:after {
    content:']';
    position:absolute;
    right: 0;
    line-height:40px;
}
&:after, &:before {
    position:absolute;
    top:0;
    color:#16a085;
    font-size:42px;
    -webkit-animation-name: opacity;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    animation-name: opacity;
    animation-duration: 2s;
    animation-iteration-count: infinite;

}
}

p {
display:inline;
float:left;
margin:0;
}

ul {
margin-top:0;
/* padding-left:110px; */
text-align:left;
list-style:none;
-webkit-animation-name: change;
-webkit-animation-duration: 6s;
-webkit-animation-iteration-count: infinite;
animation-name: change;
animation-duration: 6s;
animation-iteration-count: infinite;
}

ul li {
line-height:40px;
margin:0;
}

@-webkit-keyframes opacity {
0%, 100% {opacity:0;}
50% {opacity:1;}
}

@-webkit-keyframes change {
0%, 12%, 100% {transform:translateY(0);}
17%,29% {transform:translateY(-25%);}
34%,46% {transform:translateY(-50%);}
51%,63% {transform:translateY(-75%);}
68%,80% {transform:translateY(-50%);}
85%,97% {transform:translateY(-25%);}
}

@keyframes opacity {
0%, 100% {opacity:0;}
50% {opacity:1;}
}

@keyframes change {
0%, 12%, 100% {transform:translateY(0);}
17%,40% {transform:translateY(-33%);}
45%,71% {transform:translateY(-66%);}
76%,97% {transform:translateY(-33%);}
/* 68%,80% {transform:translateY(-50%);}
85%,97% {transform:translateY(-25%);} */
}


/* Animation Changement couleur titres */

.wrap{width:100%;}
.gradient-text{
background: linear-gradient(to right, #03a9f4,#f441a5,#ffeb3b,#03a9f4);
background-size: 200% 200%;
animation: rainbow 4s ease-in-out infinite;
background-clip: text;
-webkit-background-clip:text;
text-align:center;
transition: color .2s ease-in-out;
text-transform:uppercase;
}
.gradient-text:hover{
color:rgba(0,0,0,0);
}
@keyframes rainbow { 
0%{background-position:left}
50%{background-position:right}
100%{background-position:left}
}

/* Animation Changement couleur cadre Services */

.border-color-effect:hover {
animation: line 3s infinite ease-in-out;
}

@keyframes line {
0% {
border-image: linear-gradient(to right, darkorchid, darkorchid) 1;
}
50% {
border-image: linear-gradient(to left, yellow, darkorchid) 1;
}
100% {
border-image: linear-gradient(to right, red, darkorchid) 1;
}
}

/* Ciel étoilé */ 
@keyframes move-background {
    from {
        -webkit-transform: translate3d(0px, 0px, 0px);
    }
    to { 
        -webkit-transform: translate3d(1000px, 0px, 0px);
    }
}
@-webkit-keyframes move-background {
from {
        -webkit-transform: translate3d(0px, 0px, 0px);
    }
    to { 
        -webkit-transform: translate3d(1000px, 0px, 0px);
    }
}

@-moz-keyframes move-background {    
    from {
        -webkit-transform: translate3d(0px, 0px, 0px);
    }
    to { 
        -webkit-transform: translate3d(1000px, 0px, 0px);
    }
}

    @-webkit-keyframes move-background {
    from {
        -webkit-transform: translate3d(0px, 0px, 0px);
    }
    to { 
        -webkit-transform: translate3d(1000px, 0px, 0px);
    }
}

.background-container{
    /* position: fixed; */
    top: 0;
    left:0;
    bottom: 0;
    right: 0;
    height: 960px;
}

.stars {
background: black url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/1231630/stars.png) repeat;
position: absolute;
top: 0;
bottom: 0;
left: 0;
right: 0;
display: block;
z-index: -3;
height: 960px;
}

.twinkling{
    width:10000px;
    height: 100%;
    background: transparent url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/1231630/twinkling.png") repeat;
    background-size: 1000px 1000px;
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
    
    -moz-animation:move-background 70s linear infinite;
-ms-animation:move-background 70s linear infinite;
-o-animation:move-background 70s linear infinite;
-webkit-animation:move-background 70s linear infinite;
animation:move-background 70s linear infinite;
    
}  

/* Bouton HP */

.hp-btn{
text-decoration: none;
color: #fff;
padding: 10px;
width: 250px;
border: 1px solid #fff;
border-radius: 25px;
margin: 40px 10px 0 10px;

transform: translate(0%, 0%);
box-sizing: border-box;
/* background: linear-gradient(90deg,#03a9f4,#f441a5,#ffeb3b,#03a9f4); */
background-size: 400%;
cursor: pointer;
}

.hp-btn:hover{
color: #fff;
/* background-color: #fff;
opacity: 0.6; */

animation: animate 8s linear infinite;
}

@keyframes animate
{
0%
{
    background-position: 0%;
}
100%
{
    background-position: 400%;
}
}

.hp-btn:before
{
content: '';
position: absolute;
top: -5px;
left: -5px;
bottom: -5px;
right: -5px;
z-index: -1;
background: linear-gradient(90deg,#03a9f4,#f441a5,#ffeb3b,#03a9f4);
background-size: 400%;
border-radius: 40px;
opacity: 0;
transition: 1s;
}

.hp-btn:hover:before
{
filter: blur(20px);
opacity: 1;
animation: animate 8s linear infinite;
}

/* Bouton "Envoyer" Contact Form */

.hp-contact-form-button{
text-decoration: none;
color: #fff;
padding: 10px;
width: 250px;
border: 1px solid #fff;
border-radius: 25px;
margin: 40px 10px 0 10px;
background-color: transparent;
font-size: 20px;
font-family: 'Lato', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Red Hat Display', sans-serif; 

transform: translate(0%, 0%);
box-sizing: border-box;
/* background: linear-gradient(90deg,#03a9f4,#f441a5,#ffeb3b,#03a9f4); */
background-size: 400%;
cursor: pointer;
}

.hp-contact-form-button:hover{
color: #fff;

animation: animate 8s linear infinite;
}

@keyframes animate
{
0%
{
    background-position: 0%;
}
100%
{
    background-position: 400%;
}
}

.hp-contact-form-button:before
{
content: '';
position: absolute;
top: -5px;
left: -5px;
bottom: -5px;
right: -5px;
z-index: -1;
background: linear-gradient(90deg,#03a9f4,#f441a5,#ffeb3b,#03a9f4);
background-size: 400%;
border-radius: 40px;
opacity: 0;
transition: 1s;
}

.hp-contact-form-button:hover:before
{
filter: blur(20px);
opacity: 1;
animation: animate 8s linear infinite;
}




/* Glow Effect */
.hp-footer-socialmedia img:hover{
    background-color: transparent;
    }


.glow-effect{
text-decoration: none;
background-color: transparent;
transform: translate(0%, 0%);
box-sizing: border-box;
cursor: pointer;
border: none;
}


.glow-effect:hover{
color: #fff;
background-color: transparent;
animation: animate 8s linear infinite;
}

@keyframes animate
{
0%
{
    background-position: 0%;
}
100%
{
    background-position: 400%;
}
}


.glow-effect:before
{
content: '';
position: absolute;
top: -5px;
left: -5px;
bottom: -5px;
right: -5px;
z-index: -1;
background: linear-gradient(90deg,#03a9f4,#f441a5,#ffeb3b,#03a9f4);
background-size: 400%;
border-radius: 40px;
opacity: 0;
transition: 1s;
}


.glow-effect:hover:before{
    filter: blur(20px);
    opacity: 1;
    animation: animate 8s linear infinite;
}

/* Animation Image Flip on Skills */

.panel {
    position: relative;
    height: 150px;
}
  
.card {
position: absolute;
top: 0px;
left: 0px;
width: 100%;
height: 100%;
transition: all .5s;
backface-visibility: hidden;
}

.front {
z-index: 2;
}

.back {
z-index: 1;
transform: rotateY(-180deg);
}

.panel:hover .front {
z-index: 1;
transform: rotateY(180deg);
}

.panel:hover .back {
z-index: 2;
transform: rotateY(0deg);
}

/* Animation on Portfolio Cards */

#app {
  position: relative;
}
#app:after {
  display: block;
  content: '';
  position: absolute;
  border-left: 10px solid #ffca00;
  left: 1.528em;
  top: 50%;
  width: 0.278em;
  height: 70%;
  transform: translateY(-50%) scaleY(0);
  animation: left-border-expand 0.8s;
  animation-fill-mode: forwards;
  transform-origin: 50% 50%;
}
.ui-slide-in {
  width: 300px;
  background-color: rgba(0, 0, 0, .6);
  box-shadow: 0 0.2em 1em rgba(0, 0, 0, .3);
  color: #fff;
  padding: 20px 20px 20px 65px;
  animation: ui-slide-in-move 1.25s;
  animation-timing-function: cubic-bezier(0.03, 0.98, 0.5, 1);
  transform-origin: left center;
}
.ui-slide-in .text-wrapper {
  padding-left: 0.556em;
  overflow: hidden;
}
.line {
  opacity: 0;
  animation: word-line-slide-out 0.25s forwards;
  animation-timing-function: ease-out;
  text-align: left !important;
  margin-bottom: 0px;
}
.line:nth-child(1n) {
  animation-delay: 0.5s;
}
.line:nth-child(2n) {
  animation-delay: 0.75s;
}
.line span {
  display: inline-block;
  height: 43.2px;
}
.yellow {
  color: #ffca00;
}
.black {
  font-weight: 800;
  text-transform: uppercase;
}
.thin {
  font-weight: 300;
}
@keyframes ui-slide-in-move {
  0% {
    transform: scaleX(0);
 }
  100% {
    transform: scaleX(100%);
 }
}
@keyframes left-border-expand {
  100% {
    transform: translateY(-50%) scaleY(1);
 }
}
@keyframes word-line-slide-out {
  0% {
    transform: translateX(-10vw);
    opacity: 0;
 }
  100% {
    transform: translateX(0vw);
    opacity: 1;
 }
}

@media (max-width: 768px) { 

  /* Logo  */

  .content{
    position: relative;
    z-index: 3;
  }

  /* Hero  */

  .hp-hero-subtitle {
    font-size: 30px;
  }

  .hp-hero-h1-block{
    height: auto;
  }

  .background-container{
    display: none;
  }

  .sp-container h2.frame-5 {
    font-size: 20px;
  }

  .ui-slide-in{
    width: 70%;
  }
}