/* Global CSS */

body{
    background-color: #000;
}
.hp-main{
    font-family: 'Lato', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Red Hat Display', sans-serif;
    color: #fff;
}

.hp-h1{
    font-size: 90px;
}

.hp-h2{
    font-size: 40px;
    margin: 50px 0;
}

.hp-h3{
    font-size: 30px;
}

.hp-div{
    font-size: 20px;
}

.hp-description{
    display: flex;
    justify-content: center;
    margin: 0 10%;
}

.h-separator{
    width: 10%;
}
/* Navigation */

.hp-header-icon-burger-menu{
    display: none;
}

.hp-nav-block{
    position: absolute;
    z-index: 3;
    right: 3%;
}

.hp-nav-bar{
    display: flex;
    justify-content: flex-end;
    margin: 0 20px;
}

.hp-nav-item{
    padding: 10px;
}

.hp-nav-item a{
    text-decoration: none;
    color: #fff;
}

/* Hero */

.hp-hero-img{
    width: 100%;
    position: absolute;
    z-index: 1;
}

/* Présentation */

.hp-section-presentation{
    text-align: center;
}

/* Compétences */

.hp-section-skills{
    display: flex;
    flex-direction: column;
}

.hp-section-skills h2{
    text-align: center;
}

.hp-skills-block{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-left: auto;
    margin-right: auto;
}

.hp-skills-block h3{
    margin-top: 0;
    text-align: center;
}

.hp-skill-card{
    width: 250px;
    margin: 20px;
    text-align: center;
}

.hp-skillcard-img-container{
    width: 100px;
    margin-left: auto;
    margin-right: auto;
}

.hp-skillcard-img{
    height: 100px;
}

/* Services */

.hp-services-block{
    display: flex;
    justify-content: center;
}

.hp-services-card{
    border: 2px solid;
    margin: 0 20px;
    padding-bottom: 20px;
    width: 350px;
}

.hp-services-card .hp-h3{
    margin: 10px;
}

.hp-services-description{
    margin: 0 10px 20px 10px;
}

.hp-services-tags-block{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.hp-services-tag{
    padding: 5px 20px;
    border: 1px solid;
    border-radius: 25px;
    margin: 0 10px 10px 10px;
}

/* Portfolio */

.hp-portfolio-img-container{
    width: 400px;
    height: 225px;
}

.hp-portfolio-img{
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    filter: grayscale(1);
}

.hp-portfolio-img:hover{
    filter: grayscale(0);
}
.hp-portfolio-card {
    margin: 20px;
    text-align: center;
    width: 400px;
}

/* CV  */

.hp-cv-block{
    display: flex;
    text-align: center;
    flex-direction: column;
}
.hp-cv-block div{
    display: flex;
    justify-content: center;
}

/* Contact */

.hp-article-contact{
    display: flex;
    flex-direction: column;
}

.hp-article-contact h2{
    text-align: center;
}

.hp-contact-form{
    display: flex;
    flex-direction: column;
    width: 800px;
    margin: 50px auto 0 auto;
}

.hp-contact-form label{
    padding: 10px;
    font-size: 20px;
    font-family: 'Lato', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Red Hat Display', sans-serif; 
}

.hp-contact-form input{
    height: 35px;
    font-size: 20px;
    font-family: 'Lato', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Red Hat Display', sans-serif; 
}

.hp-contact-form textarea{
    height: 150px;
    font-size: 20px;
    font-family: 'Lato', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Red Hat Display', sans-serif; 
}

.hp-form-name-fields{
    display: flex;
}

.hp-form-half-field{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.hp-form-submit-button{
    display: flex;
    justify-content: flex-end;
}

/* Footer */

.hp-footer-socialmedias{
    display: flex;
    justify-content: center;
}

.hp-footer-socialmedia{
    margin-left: 20px;
    margin-right: 20px;
}
.hp-footer-socialmedia img{
    border-radius: 50%;
    width: 50px;
    border: 2px solid #fff;
    background-color: #fff;
}

.hp-article-footer{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.hp-footer-links-block{
    display: flex;
    justify-content: flex-end;
    margin-right: 20px;
}

.hp-footer-link{
    color: #fff;
    text-decoration: none;
    padding: 10px;
}

.hp-copyright{
    font-size: 15px;
    margin-bottom: 20px;
}

@media (max-width: 768px) { 

    .hp-h2{
        font-size: 40px;
    }

    .hp-h3{
        font-size: 30px;
    }

    /* Hero  */

    .hp-hero-h1-block{
        background: url(https://api.romaindrouet.com/images/hero-drouet-romain-1200x1600px.webp);
        background-size: cover;
    }

    .hp-hero-img{
        display: none;
    }
    
    /* Navigation */

    .hp-header-icon-burger-menu{
        display: block;
        position: absolute;
        top: 10px;
        z-index: 11;
        background: transparent;
        color: #fff;
        border: none;
    }

    .hp-nav-bar{
        flex-direction: column;
    }

    .hp-nav-block{
        position: relative;
        width: fit-content;
        background-color: #fff;
        display: none;
    }

    .hp-nav-item a{
        color: #000;
    }

    /* Compétences */
    .hp-skills-block{
        display: flex;
        flex-direction: column;
    }

    /* Services */

    .hp-services-block{
        flex-direction: column;
    }
    
    .hp-services-card{
        margin: 0 auto 20px auto;
    }

    /* Portfolio  */

    .hp-portfolio-img-container{
        width: 100%;
        background-size: contain;
        background-repeat: no-repeat;
    }

    .hp-portfolio-img-container {
        height: 190px;
    }

    .hp-portfolio-card {
        width: 300px;
    }

    .ui-slide-in {
        width: 290px;
    }

    /* Contact */

    .hp-contact-form{
        width: 90%;
    }

    .hp-form-name-fields{
        flex-direction: column;
    }

    .hp-form-submit-button{
        justify-content: center;
    }

    /* Footer  */

    .hp-footer-links-block{
        justify-content: center;
    }

    .hp-footer-socialmedia {
        margin-left: 10px;
        margin-right: 10px;
    }
}